@import url(https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;

300;400;600;700;900&display=swap);* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none !important;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #eeeeee;
}

#logo {
  font-family: "Source Sans Pro", sans-serif !important;
  font-weight: 600 !important;
}

.footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

@media (max-width: 991.98px) {
  .padding {
    padding: 1.5rem;
  }
}

@media (max-width: 767.98px) {
  .padding {
    padding: 1rem;
  }
}

.padding {
  padding: 5rem;
}

.card {
  position: relative;
  display: flex;
  width: 350px;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #d2d2dc;
  border-radius: 11px;
  box-shadow: 0px 0px 5px 0px #a1a3a4;
}

.card .card-body {
  padding: 1rem 1rem;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

p {
  font-size: 0.875rem;
  margin-bottom: 0.5rem;
  line-height: 1.5rem;
}

h4 {
  line-height: 0.2 !important;
}

.profile {
  margin-top: 16px;
  margin-left: 11px;
}

.profile-pic {
  width: 58px;
  padding: 5px;
}

.cust-name {
  font-size: 18px;
}

.cust-profession {
  font-size: 10px;
}

.items {
  width: 90%;
  margin: 0px auto;
}

.slick-slide {
  margin: 10px;
}

ul.slick-dots {
  display: none !important;
}

